<ion-app [class.con-menu-movil]="mostrarMenuMovil()">

  <header class="navbar-global" *ngIf="mostrarNavbar()">
    <div class="navbar-logo" routerLink="/principal">
      <img src="assets/img/SanosySalvos.png" alt="Logo">
      <span>Sanos y Salvos</span>
    </div>

    <div class="navbar-acciones">
      <button *ngIf="!estaLogueado" routerLink="/inicio"> Ingresar </button>

      <button *ngIf="!estaLogueado" routerLink="/nuevo-usuario"> Registro </button>

      <button *ngIf="estaLogueado" routerLink="/mi-perfil"> Mi perfil </button>

      <button *ngIf="estaLogueado" (click)="logout()"> Logout </button>
    </div>
  </header>

  <ion-router-outlet></ion-router-outlet>

  <nav class="menu-movil" *ngIf="mostrarMenuMovil()" aria-label="Navegación principal">
    <a class="item-menu" routerLink="/principal" routerLinkActive="activo" [routerLinkActiveOptions]="{ exact: true }">
      <ion-icon name="home-outline"></ion-icon>
      <span>Inicio</span>
    </a>

    <a class="item-menu" routerLink="/buscador" routerLinkActive="activo">
      <ion-icon name="search-outline"></ion-icon>
      <span>Buscar</span>
    </a>

    <a class="item-menu item-agregar" *ngIf="estaLogueado" routerLink="/reporte-mascota" routerLinkActive="activo">
      <span class="icono-agregar">
        <ion-icon name="add-circle"></ion-icon>
      </span>

      <span>Agregar</span>
    </a>

    <a class="item-menu" routerLink="/mascotas-halladas" routerLinkActive="activo">
      <ion-icon name="paw-outline"></ion-icon>

      <span>Halladas</span>
    </a>

    <a class="item-menu" *ngIf="estaLogueado" routerLink="/mi-perfil" routerLinkActive="activo">
      <ion-icon name="person-circle-outline"></ion-icon>

      <span>Perfil</span>
    </a>
  </nav>
</ion-app>
