## usuario-service
USUARIO_SERVICE_PORT=3004
USUARIO_SERVICE_URL=http://localhost:3004
USUARIO_DB_HOST=localhost
USUARIO_DB_PORT=5432
USUARIO_DB_USER=postgres
USUARIO_DB_PASSWORD=tu_password
USUARIO_DB_NAME=usuario_db

## perdidas-service
PERDIDAS_SERVICE_PORT=3000
PERDIDAS_SERVICE_URL=http://localhost:3000
PERDIDAS_DB_HOST=localhost
PERDIDAS_DB_PORT=5432
PERDIDAS_DB_USER=postgres
PERDIDAS_DB_PASSWORD=tu_password
PERDIDAS_DB_NAME=perdida_db

## hallazgos-service
HALLAZGOS_SERVICE_PORT=3003
HALLAZGOS_SERVICE_URL=http://localhost:3003
HALLAZGOS_DB_HOST=localhost
HALLAZGOS_DB_PORT=5432
HALLAZGOS_DB_USER=postgres
HALLAZGOS_DB_PASSWORD=tu_password
HALLAZGOS_DB_NAME=hallazgo_db

## buscador-service
BUSCADOR_SERVICE_PORT=3002
BUSCADOR_SERVICE_URL=http://localhost:3002

## api-gateway
API_GATEWAY_PORT=3001

## jwt
JWT_SECRET=cambiar_por_una_clave_larga_de_minimo_32_caracteres
JWT_EXPIRACION_MS=86400000

## logs
LOG_LEVEL=info
