## base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=tu_password
DB_NAME=reportes_db

## perdidas-service
PERDIDAS_SERVICE_PORT=3000

## hallazgos-service
HALLAZGOS_SERVICE_PORT=3003

## buscador-service
BUSCADOR_SERVICE_PORT=3002

## api-gateway
API_GATEWAY_PORT=3001
HALLAZGOS_SERVICE_URL=http://localhost:3003
PERDIDAS_SERVICE_URL=http://localhost:3000
BUSCADOR_SERVICE_URL=http://localhost:3002
