<ion-content [fullscreen]="true" class="video-container">
  <video #backgroundVideo autoplay muted loop playsinline id="background-video">
    <source src="assets/video/VideoInicio.mp4" type="video/mp4">
  </video>

  <div class="overlay"></div>

  <div class="button-container">
    <ion-button expand="block" (click)="irALogin()" class="btn-inicio">
      <ion-icon name="paw-outline" slot="start"></ion-icon>
      Ingresar
    </ion-button>
  </div>

  <div class="footer">
    <p class="copyright">Copyright © 2026 - Sanos y Salvos - Todos los derechos reservados</p>
  </div>
</ion-content>