<ion-header>
  <ion-toolbar>
    <ion-title>Principal</ion-title>
    <ion-buttons slot="end">
        <img
          src="assets/icon/Salir.png"
          class="imagen-salir"
          alt="Salir"
          title="SALIR"
          (click)="salir()">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contenido-pagina">
  <main class="contenedor-pagina contenedor-con-padding contenedor-principal">
    <section class="panel-pagina panel-principal">
      <img src="assets/img/SanosySalvos.png" class="logo-pagina" alt="Logo">
      <h1>Bienvenido</h1>
      <p>Selecciona una sección para continuar.</p>
    </section>
  </main>
</ion-content>
