<ion-content [fullscreen]="true" class="contenido-pagina">
  <main class="contenedor-pagina contenedor-con-padding contenedor-principal">
    <section class="panel-pagina panel-principal">
      <img src="assets/img/SanosySalvos.png" class="logo-pagina" alt="Logo">
      <h1>Bienvenido</h1>
      <p>Selecciona una sección para continuar.</p>

      <div class="acciones-principal">
        <button type="button" class="boton-donativos" (click)="irDonativos()">
          <ion-icon name="heart-outline"></ion-icon>
          <span>Donar</span>
        </button>
      </div>
    </section>
  </main>
</ion-content>
